
.dark{
	background: none;
	background-color: none;
	/* background-image: url(../img/cover2.png); */
	background-repeat: repeat;
	color: white;
}

.full{
	background-color: #a3a3a3;
}

.full .dark{
}

svg{

}


.slide strong{
	color: #447fb4;
}

#Cover h2 {
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 150px;
	margin-top: 150px;
	color:#FFF;
	font-size:70px;
}

#Cover, .slide .dark{
	background: none;
	background-color: #3c3c3c;
	/*background-image: url(../img/cover2.png);*/
	background-repeat: repeat;
}

.slide .dark p
{
	color: white;
	margin: 0px;
}

.slide .dark strong
{
	color: white;
	margin: 0px;
}

.slide ol li, .slide ul li {
	text-indent: 0em;
}


.sub{
	background-color: #747474;
}
.sub h2, .sub p{
	color: white;
	text-align: center;
}

.sub>div
{
/* 	margin-top: 100px; */
/* 	height: 300px; */
}


#Cover h3 {
	padding-bottom: 5px;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 20px;
	color: #599ccb;
	font-size: 60px;
	font: bold 50px/1 'PT Sans Narrow', sans-serif;
}

#Cover h4 {
	margin-top: 0px;
	padding-bottom: 5px;
	padding-top: 0px;
	color: #dedddf;
	font-family: 'PT Sans';
}
	
#Picture h2 {
	color:#FFF;
}

p.author{
	margin-bottom: 30px;
	margin-top: 10px;
	font-variant: small-caps;
	font-style: italic;
	font-size: smaller;
}

.slide p
{
	/* color: #626262; */
	margin: 0px;
}


.slide h3{
	font-size: larger;
}

.slide ul{
	margin-bottom: 15px;
}

.slide>div>iframe{
	max-width: 1024px;
	width: 100%;
	height: 90%;
	border-radius: 3px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}	

.slide>iframe{
	max-width: 1024px;
	width: 90%;
	height: 80%;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	
	border-radius: 3px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}	

.progress
{
	height: 0px;
}

.full .progress
{
	height: 10px;
}


blockquote p{
	font-size: 100%;
}

pre{
	line-height: 120%;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #ececec;
}

code, pre {
	background-color: #e9e9e9;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

pre.prettyprint 
{
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


/*SVG Stuff*/

.htcsvg{
	margin-left: -60px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text
{
	font-size: small;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

	





